*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: url('./bg.png'); no-repeat;
    background-size: cover;
}

.loginform{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: black;
}

.loginform h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.loginform p{
    font-size: 20px;
    margin: 15px 0;
}

.loginform input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.loginform button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 15px 10px;
    width: 50%;
    border-radius: 5px;
}